name: Test Dependabot PRs

on:
  push:
    branches:
      - 'dependabot/**'

jobs:
  # Denne matches mot required checks som trigger automerge av Dependabot PRs. Endrer du her må du også endre i https://github.com/navikt/dp-auth/settings/branches
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - uses: gradle/gradle-build-action@v2.11.1
        with:
          arguments: --configuration-cache test